NODE_ENV=development
PORT=3000
BACKEND_URL=http://localhost:5050
LOCAL_DATABASE_URI=mongodb://127.0.0.1:27017/bazar
REMOTE_DATABASE_URI=mongodb+srv://username:password@cluster.mongodb.net/database
FILE_UPLOAD_PATH=./public/
MAX_FILE_UPLOAD=10000000
JWT_SECRET=your_secret_key_here
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30
CORS_ORIGIN=http://localhost:5050
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
OSRM_BASE_URL=https://router.project-osrm.org
